Repository gsong/react-listitem-grid: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

fix: update flow typings to latest standards
  .flowconfig
  src/example-app/App.js
  src/example-app/Playground/FlexContainer.js
  src/example-app/Playground/GridContainer.js
  src/example-app/Playground/contexts.js
  src/example-app/Playground/hooks.js
  src/example-app/Playground/index.js
  src/example-app/components/CardContent.js
  src/example-app/examples/FlexAll.js
  src/example-app/examples/FlexMaxItems.js
  src/example-app/examples/FlexMaxRows.js
  src/example-app/examples/FlexMaxRowsMaxItems.js
  src/example-app/examples/GridAll.js
  src/example-app/examples/GridMaxItems.js
  src/example-app/examples/GridMaxRows.js
  src/example-app/examples/GridMaxRowsMaxItems.js
  src/example-app/examples/GridMinimumSetup.js
  src/lib/Flex/index.js
  src/lib/Grid/index.js
  src/lib/hooks.js
  src/lib/utils/index.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

chore(release): 2.3.0
  CHANGELOG.md
Due: prettier --write, prettier --check

Notes added by 'git notes add'
  8ca4f6a9aac0a3ec0e245f4d1f66fd5edaf3fa8b
Due: prettier --check

fix: better flow typing
  .flowconfig
  src/example-app/App.js
  src/example-app/Playground/index.js
  src/example-app/components/CardContent.js
  src/index.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

ci: remove unnecessary workflow
  .github/workflows/deploy.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: prettier --check

Path conditions:
  stylelint --fix: (any of: *.css) or (any of: *.{css,js})
  eslint --cache --fix: any of: *.js
  flow focus-check: any of: *.js
  prettier --write: any of: *.{css,html,js,json,md,yml}
  prettier --check: any of: *
