Repository gsong/react-listitem-grid: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, markdownlint, remark -f, prettier --check

.lintstagedrc.json:

{
  "*.css": "stylelint --fix",
  "*.js": ["eslint --cache --fix", "flow focus-check"],
  "*.{css,html,js,json,md,yml}": "prettier --write"
}

.lintstagedrc.yaml:

"*.js":
  - eslint --cache --fix
  - flow focus-check
"*.{css,js}": stylelint --fix
"*.md":
  - markdownlint
  - remark -f
"*": prettier --check

Make minItemWidth optional by defaulting to 0
  src/example-app/examples/GridMinimumSetup.js
  src/lib/utils.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

2.2.0 release
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write, markdownlint, remark -f, prettier --check

Simplify steps for local setup
  CONTRIBUTING.md
  package.json
Due: prettier --write, markdownlint, remark -f, prettier --check

Updates
  asset-manifest.json
  index.html
  precache-manifest.a6824c14f4fae361f77f6911d13d2c81.js
  service-worker.js
  static/js/main.5b85bac2.chunk.js
  static/js/main.5b85bac2.chunk.js.map
  static/js/main.703a1d20.chunk.js
  static/js/main.703a1d20.chunk.js.map
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Updates
  asset-manifest.json
  index.html
  precache-manifest.d7861aeb3a0b75ecb6e683a59ad1f502.js
  service-worker.js
  static/js/main.92bbc392.chunk.js
  static/js/main.92bbc392.chunk.js.map
  static/js/main.a779257a.chunk.js
  static/js/main.a779257a.chunk.js.map
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Dynamically load example components
  package.json
  pnpm-lock.yaml
  src/example-app/App.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Add contributors to README
  .all-contributorsrc
  .prettierignore
  README.md
  flow-typed/npm/all-contributors-cli_vx.x.x.js
  flow-typed/npm/source-map-explorer_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, markdownlint, remark -f, prettier --check

Updates
  asset-manifest.json
  index.html
  precache-manifest.0bb03cf5549c398fa1f8f30c15f7305f.js
  service-worker.js
  static/js/main.7963ee70.chunk.js
  static/js/main.7963ee70.chunk.js.map
  static/js/main.92bbc392.chunk.js
  static/js/main.92bbc392.chunk.js.map
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Correct README instructions
  README.md
Due: prettier --write, markdownlint, remark -f, prettier --check

Upgrade packages and rearrange npm tasks
  flow-typed/npm/rollup_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Add GitHub Pages deployment workflow
  .github/events/push.json
  .github/workflows/deploy.yaml
  package.json
Due: prettier --write, prettier --check

Cache pnpm-store
  .github/events/push.json
  .github/workflows/deploy.yaml
Due: prettier --write, prettier --check

Add lint action
  .github/workflows/lint.yaml
  package.json
Due: prettier --write, prettier --check

Add publish action
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  flow-typed/npm/@jsdevtools/npm-publish_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Also lint on pull request
  .github/workflows/lint.yaml
Due: prettier --check

Update what's cached for GH actions
  .github/workflows/deploy.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
Due: prettier --check

Start to add tests
  .github/workflows/deploy.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-and-lint.yaml
  .stylelintignore
  flow-typed/npm/@testing-library/react_v10.x.x.js
  flow-typed/npm/jest_v24.x.x.js
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/lib/Flex/__tests__/__snapshots__/index.js.snap
  src/lib/Flex/__tests__/index.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Add test and lint badge
  README.md
Due: prettier --write, markdownlint, remark -f, prettier --check

Add more eslint powers
  .eslintrc.yaml
  flow-typed/npm/eslint-plugin-jest-dom_vx.x.x.js
  flow-typed/npm/eslint-plugin-testing-library_vx.x.x.js
  package.json
  pnpm-lock.yaml
  src/example-app/App.js
  src/example-app/Playground/index.js
  src/lib/Grid/__tests__/index.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

deploy: 349af2fbfd54d8f23623cf9f4fa2ef668b5c7d1e
  static/js/13.ef326d43.chunk.js.map
  static/js/main.f650fff8.chunk.js.map
Due: prettier --check

deploy: 9b6f3be36599a54ee5f08e4206b9cdf3c0286326
  asset-manifest.json
  index.html
  precache-manifest.4fd2f451f4f1de27f23f76a7c9700f7e.js
  service-worker.js
  static/js/0.4c13d95b.chunk.js
  static/js/0.4c13d95b.chunk.js.map
  static/js/0.95a9b255.chunk.js.map
  static/js/runtime-main.4e63f272.js
  static/js/runtime-main.4e63f272.js.map
  static/js/runtime-main.a24457bd.js
  static/js/runtime-main.a24457bd.js.map
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Add tests for utils
  README.md
  package.json
  src/lib/Flex/index.js
  src/lib/hooks.js
  src/lib/index.js
  src/lib/utils/__tests__/calculateItemWidthWithCount.js
  src/lib/utils/__tests__/calculateLayoutSpec.js
  src/lib/utils/__tests__/flexCompensate.container.js
  src/lib/utils/__tests__/flexCompensate.item.js
  src/lib/utils/index.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, markdownlint, remark -f, prettier --check

Consolidate test and lint CI jobs
  .github/workflows/test-and-lint.yaml
Due: prettier --check

Update README links
  README.md
Due: prettier --write, markdownlint, remark -f, prettier --check

Release 2.2.1
  .github/workflows/publish.yaml
  CHANGELOG.md
  flow-typed/npm/@jsdevtools/npm-publish_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, markdownlint, remark -f, prettier --check

Notes added by 'git notes add'
  cc244eff57499dd51a76c2490be2dc9b5a8228e2
Due: prettier --check

build: add dependencies for new tools
  flow-typed/npm/@commitlint/cli_vx.x.x.js
  flow-typed/npm/@commitlint/config-conventional_vx.x.x.js
  flow-typed/npm/@semantic-release/changelog_vx.x.x.js
  flow-typed/npm/@semantic-release/git_vx.x.x.js
  flow-typed/npm/all-contributors-cli_vx.x.x.js
  flow-typed/npm/commitizen_vx.x.x.js
  flow-typed/npm/cz-conventional-changelog_vx.x.x.js
  flow-typed/npm/semantic-release_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

ci: use semantic-release FTW
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .releaserc.yaml
Due: prettier --check

build: update local development settings
  .commitlintrc.yaml
  .envrc
  .huskyrc.yaml
Due: prettier --check

docs: update README with badges
  CHANGELOG.md
  README.md
Due: prettier --write, markdownlint, remark -f, prettier --check

Notes added by 'git notes add'
  3a14b508518395e32c1e37d432ee030f18499bfc
Due: prettier --check

Notes added by 'git notes add'
  d3e1bb6c7852c2ff2f52ef769ca5959c76c1b7a4
Due: prettier --check

Notes added by 'git notes add'
  8e3fba5c221a7bbe84c19186ede0cd23b12f73ac
Due: prettier --check

Notes added by 'git notes add'
  b9e2ce8b32ecc4f5fc120375a660c060acbbb1cf
Due: prettier --check

Notes added by 'git notes add'
  7f2329d18158ce3bebd01a9c33e0d5ee550c60db
Due: prettier --check

Notes added by 'git notes add'
  4a643f19738d56e4cbc67fb7e6ca6ad4d54d5ebf
Due: prettier --check
