Repository gsong/react-listitem-grid: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, markdownlint, remark -f, prettier --check

Notes added by 'git notes add'
  458f7d5532545464808db729fb0a21472c577a1e
Due: prettier --check

Notes added by 'git notes add'
  ca47a6fd0d67689aff9863b68dc6d0f95b21223d
Due: prettier --check

Notes added by 'git notes add'
  64d23043ea6513aa0c2aef30ebdc123afa06c84d
Due: prettier --check

Notes added by 'git notes add'
  fef6b82d98ed565027e4c04d274ac73abe434f39
Due: prettier --check

build: exclude changelog from linting
  .lintstagedrc.yaml
  .markdownlintignore
Due: prettier --check

build: update semantic-release configuration
  .github/workflows/release.yaml
  .releaserc.yaml
  package.json
  release.config.js
  rollup.config.js
  scripts/postversion.js
  templates/header.hbs
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

build: upgrade dependencies
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

docs: minor edit
  README.md
Due: prettier --write, markdownlint, remark -f, prettier --check

build: update prettier config
  .prettierignore
Due: prettier --check

build: update commitlint rules
  .commitlintrc.yaml
Due: prettier --check

docs: hardcode example url to google to prevent weird spam sites
  src/example-app/server.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

build: rename release branch to `main`
  release.config.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

fix: cjs instead of es package output
  rollup.config.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

fix: ignore flow error with ReactDOM.render
  src/index.js
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

build: narrow the scope of stylelint
  .stylelintignore
  package.json
Due: prettier --write, prettier --check

chore(release): 2.2.2
  CHANGELOG.md
Due: prettier --write, markdownlint, remark -f, prettier --check

deploy: aa4e10620045ce60772dd6f58dc25fce62080b1a
  asset-manifest.json
  index.html
  precache-manifest.f1a7c5269a617d534ae7f404aac85204.js
  service-worker.js
  static/js/main.55bc1780.chunk.js.map
  static/js/main.6e8228e3.chunk.js
  static/js/main.6e8228e3.chunk.js.map
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write, prettier --check

Notes added by 'git notes add'
  46cfdf42d7db909b543507f49bba831102514c8a
Due: prettier --check

Path conditions:
  stylelint --fix: (any of: *.css) or (any of: *.{css,js})
  eslint --cache --fix: any of: *.js
  flow focus-check: any of: *.js
  prettier --write: any of: *.{css,html,js,json,md,yml}
  markdownlint: any of: *.md
  remark -f: any of: *.md
  prettier --check: any of: *
