Repository gsong/react-listitem-grid: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write

.lintstagedrc.json:

{
  "*.css": "stylelint --fix",
  "*.js": ["eslint --cache --fix", "flow focus-check"],
  "*.{css,html,js,json,md,yml}": "prettier --write"
}

Add alignment selector
  src/example-app/App.js
  src/example-app/constants.js
  src/example-app/hooks.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update README
  README.md
Due: prettier --write

Go back to using non CRA based babel plugins
  .eslintignore
  .gitignore
  .prettierignore
  babel.config.json
  flow-typed/npm/@babel/preset-env_vx.x.x.js
  flow-typed/npm/@babel/preset-flow_vx.x.x.js
  flow-typed/npm/@babel/preset-react_vx.x.x.js
  flow-typed/npm/babel-preset-react-app_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, flow focus-check, prettier --write

Actually fetch cards instead of generating inline
  flow-typed/npm/miragejs_vx.x.x.js
  package.json
  pnpm-lock.yaml
  src/example-app/App.js
  src/example-app/Card.js
  src/example-app/FlexContainer.js
  src/example-app/GridContainer.js
  src/example-app/hooks.js
  src/example-app/server.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update app title
  public/index.html
Due: prettier --write

Add alignment selector to example app
  flow-typed/npm/@reach/visually-hidden_vx.x.x.js
  flow-typed/npm/lodash_v4.x.x.js
  package.json
  pnpm-lock.yaml
  src/example-app/App.js
  src/example-app/Card.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update changelog and add to published bundle
  CHANGELOG.md
  package.json
  rollup.config.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update local configuration
  .eslintrc.js
  .eslintrc.yaml
  .huskyrc.json
  .huskyrc.yaml
  .lintstagedrc.json
  .lintstagedrc.yaml
  .markdownlint.yaml
  .markdownlintignore
  .prettierignore
  .prettierrc.yaml
  .stylelintrc.json
  .stylelintrc.yaml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, flow focus-check, prettier --write

Upgrade dependencies
  flow-typed/npm/@babel/preset-env_vx.x.x.js
  flow-typed/npm/lint-staged_vx.x.x.js
  flow-typed/npm/markdownlint-cli_vx.x.x.js
  flow-typed/npm/rollup_vx.x.x.js
  flow-typed/npm/stylelint_vx.x.x.js
  pnpm-lock.yaml
Due: eslint --cache --fix, flow focus-check, prettier --write

Upgrade local config and correct files
  .editorconfig
  .lintstagedrc.yaml
  .prettierrc.yaml
  .stylelintrc.yaml
  README.md
  src/example-app/Card.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update README
  .markdownlint.yaml
  README.md
  src/lib/utils.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Adjust layout calculation API
  README.md
  src/lib/hooks.js
  src/lib/utils.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update data attributes to reflect library name
  src/lib/Flex/index.js
  src/lib/Flex/styles.css
  src/lib/Grid/index.js
  src/lib/Grid/styles.css
Due: stylelint --fix, eslint --cache --fix, flow focus-check, prettier --write

Update version number and changelog
  CHANGELOG.md
  package.json
Due: prettier --write

Add utility to calculate adjusted item width
  README.md
  src/lib/utils.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update example app based on new API
  src/example-app/FlexContainer.js
  src/example-app/GridContainer.js
  src/example-app/hooks.js
  src/example-app/server.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Improve README
  README.md
Due: prettier --write

Update README with caution
  README.md
Due: prettier --write

Use ResizeObserver instead of @reach/rect
  flow-typed/npm/@juggle/resize-observer_vx.x.x.js
  flow-typed/npm/@reach/rect_v0.2.x.js
  flow-typed/npm/@reach/rect_vx.x.x.js
  flow-typed/npm/react-app-polyfill_vx.x.x.js
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/lib/Flex/index.js
  src/lib/hooks.js
  src/lib/utils.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update example app to new API
  .stylelintrc.yaml
  package.json
  pnpm-lock.yaml
  src/example-app/App.js
  src/example-app/Card.js
  src/example-app/FlexContainer.js
  src/example-app/GridContainer.js
  src/example-app/hooks.js
  src/index.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Update README, CHANGELOG, and bump library version
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

Upgrade dependencies
  flow-typed/npm/@rollup/plugin-babel_vx.x.x.js
  flow-typed/npm/rollup_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, flow focus-check, prettier --write

Minor update to the library
  CHANGELOG.md
  src/lib/Flex/index.js
  src/lib/hooks.js
  src/lib/utils.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Add use case specific examples
  README.md
  src/example-app/App.js
  src/example-app/Playground/FlexContainer.js
  src/example-app/Playground/GridContainer.js
  src/example-app/Playground/constants.js
  src/example-app/Playground/contexts.js
  src/example-app/Playground/hooks.js
  src/example-app/Playground/index.js
  src/example-app/components/CardContent.js
  src/example-app/constants.js
  src/example-app/examples/FlexAll.js
  src/example-app/examples/FlexMaxItems.js
  src/example-app/examples/FlexMaxRows.js
  src/example-app/examples/FlexMaxRowsMaxItems.js
  src/example-app/examples/GridAll.js
  src/example-app/examples/GridMaxItems.js
  src/example-app/examples/GridMaxRows.js
  src/example-app/examples/GridMaxRowsMaxItems.js
  src/example-app/server.js
  src/example-app/styles.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Set up pnpm workspace
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

2.0.2
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update README links
  .lintstagedrc.yaml
  .remarkrc.yaml
  README.md
  flow-typed/npm/markdown-toc_vx.x.x.js
  flow-typed/npm/npm-run-all_vx.x.x.js
  flow-typed/npm/react-scripts_vx.x.x.js
  flow-typed/npm/remark-cli_vx.x.x.js
  flow-typed/npm/remark-lint-no-dead-urls_vx.x.x.js
  flow-typed/npm/remark-lint_vx.x.x.js
  flow-typed/npm/remark-validate-links_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, flow focus-check, prettier --write

Add `serve` to our development toolbox
  flow-typed/npm/serve_vx.x.x.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, flow focus-check, prettier --write

Add defaults for columnGap and ropwGap #6
  src/example-app/App.js
  src/example-app/Playground/hooks.js
  src/example-app/examples/GridMinimumSetup.js
  src/lib/Flex/index.js
  src/lib/Grid/index.js
  src/lib/defaults.js
  src/lib/types.js
  src/lib/utils.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Minor code cleanup
  src/example-app/App.js
  src/example-app/examples/FlexAll.js
  src/example-app/examples/FlexMaxRows.js
  src/example-app/examples/GridAll.js
  src/example-app/examples/GridMaxRows.js
  src/lib/Flex/index.js
  src/lib/Grid/index.js
  src/lib/defaults.js
  src/lib/utils.js
Due: eslint --cache --fix, flow focus-check, prettier --write

2.1.0 release
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  precache-manifest.21dfa54e91552d0eec8b673056a8b125.js
  precache-manifest.6e563964f6a441a3c999ec97500953e5.js
  service-worker.js
  static/js/runtime-main.1f83c6d6.js
  static/js/runtime-main.1f83c6d6.js.map
  static/js/runtime-main.51b102e3.js
  static/js/runtime-main.51b102e3.js.map
Due: eslint --cache --fix, flow focus-check, prettier --write

Publish example app to GitHub Pages
  README.md
  flow-typed/npm/gh-pages_vx.x.x.js
  package.json
  pnpm-lock.yaml
  rollup.config.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  precache-manifest.6e563964f6a441a3c999ec97500953e5.js
  precache-manifest.c2622d66eb7c4b2fbad0bccdfb2b4cf7.js
  service-worker.js
  static/js/runtime-main.1f83c6d6.js
  static/js/runtime-main.1f83c6d6.js.map
  static/js/runtime-main.cc5f7055.js
  static/js/runtime-main.cc5f7055.js.map
Due: eslint --cache --fix, flow focus-check, prettier --write

Correct typo
  CONTRIBUTING.md
Due: prettier --write

Update README with contributing info
  README.md
  package.json
Due: prettier --write

Update build infrastructure and scripts
  package.json
  rollup.config.js
Due: eslint --cache --fix, flow focus-check, prettier --write

Fix changelog version
  CHANGELOG.md
Due: prettier --write
